<mat-card *ngFor="let message of messages">
  <mat-card-title>{{ message.author }}</mat-card-title>
  <mat-card-subtitle>says:</mat-card-subtitle>
  <mat-card-content>{{ message.message }}</mat-card-content>
</mat-card>

<mat-card>
  <mat-form-field class='full-width-field'>
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="currentAuthor" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Message</mat-label>
    <input matInput [(ngModel)]="currentMessage" />
  </mat-form-field>
  <button mat-button (click)="sendMessage()">Send</button>
</mat-card>


